# Logs
logs
*.log
npm-debug.log* # npm
yarn-debug.log* # yarn
yarn-error.log* # yarn
pnpm-debug.log* # pnpm
lerna-debug.log* # lerna

# Dependencias
/node_modules

# Archivos de build y producción
/dist
/dist-ssr

# Archivos de variables de entorno
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
.gitignore
