.eliminar-producto-card {
    width: 100%;
    max-width: 30rem;
    background-color: var(--bg-color3);
    color: var(--color1);
}

.eliminar-producto-label {
    color: var(--color1);
}

.eliminar-producto-input {
    background-color: var(--bg-color6);
    color: var(--color1);
}
