.footer-container {
    padding: 2px 0;
    text-align: center;
    color: var(--color1);
    flex-shrink: 0;
    background-color: var(--bg-color1);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

.footer-disclaimer {
    font-size: 0.8rem;
    opacity: 1;
}
